.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 600px;
	height: 685px;
	margin: 50px 50px;

}

#score{
	font-size: 35px;
	color: red;
font-weight: bold;
position: relative;
bottom: 35px;
left:10px;
}
.j{
	font-size: 35px;
	color: red;
	font-weight: bold;
	position: relative;
	bottom: 700px;
	left: 700px;
}
.flex{
	display: flex;
}
.elem{
	height: 85px;
	width: 85px;
	background: orange;
	transition: 0.7s;
}
.round{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: black;
	position: absolute;
	top: 57px;
	left: 65px;
	transition: 0.3s;

}